{% extends "base.html.twig" %}

{% block title %}
    profil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

        <!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Profil</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->


    <div class="container">
        <h2 class="text-center mt-5 mb-5">
            Modification de profil
        </h2>
        {{form(form)}}
        <a class="btn btn-danger col-sm-2 offset-sm-10 mb-5" href="{{ path('home')}}">annuler</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}